<div class="dashboard">

  <h1><%= current_user.nickname %></h1>

  <div class="dashboard-container">
    <div class="dashboard-links">
      <%= link_to "プロフィール編集", edit_user_registration_path, class: "btn" %>
      <%= link_to "新規投稿", new_post_path, class: "btn" %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn logout", data: { turbo_method: :delete }%>
    </div>
  </div>
  </div>
  <h2>あなたの投稿一覧</h2>
    <div id="posts">
    <% @posts.each do |post| %>
      <%= link_to post, class: "post-link" do %>
        <%= render post %>
      <% end %>
    <% end %>
</div>